.App {
  background-color: black;
}

.search{
  text-align: center;
}

.logo{
 height: 200px;
 width:380px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}
.character-li{
  text-decoration: none;
  list-style: none;
}
.link-character{
  text-decoration: none;
  color: rgb(24, 255, 186);
}